[submodule "opnfv-fuel"]
	path = upstream/fuel
	url = https://gerrit.opnfv.org/gerrit/fuel
	branch = master
[submodule "fuel-library"]
	path = upstream/fuel-library
	url = https://github.com/openstack/fuel-library.git
	branch = stable/mitaka
[submodule "fuel-web"]
	path = upstream/fuel-web
	url = https://github.com/openstack/fuel-web.git
	branch = stable/mitaka
[submodule "fuel-agent"]
	path = upstream/fuel-agent
	url = https://github.com/openstack/fuel-agent.git
	branch = stable/mitaka
[submodule "fuel-mirror"]
	path = upstream/fuel-mirror
	url = https://github.com/openstack/fuel-mirror.git
	branch = stable/mitaka
[submodule "fuel-plugin-opendaylight"]
	path = upstream/fuel-plugin-opendaylight
	url = https://github.com/openstack/fuel-plugin-opendaylight.git
	branch = master
[submodule "fuel-nailgun-agent"]
	path = upstream/fuel-nailgun-agent
	url = https://github.com/openstack/fuel-nailgun-agent
	branch = stable/mitaka
[submodule "fuel-plugin-ovs"]
	path = upstream/fuel-plugin-ovs
	url = https://github.com/openstack/fuel-plugin-ovs
	branch = master
[submodule "vswitchperf"]
	path = upstream/vswitchperf
	url = https://gerrit.opnfv.org/gerrit/vswitchperf.git
	branch = master
[submodule "fuel-astute"]
	path = upstream/fuel-astute
	url = https://github.com/openstack/fuel-astute.git
	branch = stable/mitaka
