[submodule "opnfv-fuel"]
	path = upstream/fuel
	url = https://gerrit.opnfv.org/gerrit/fuel
	branch = master
[submodule "fuel-plugin-opendaylight"]
	path = upstream/fuel-plugin-opendaylight
	url = https://github.com/openstack/fuel-plugin-opendaylight.git
	branch = master
[submodule "fuel-plugin-ovs"]
	path = upstream/fuel-plugin-ovs
	url = https://github.com/openstack/fuel-plugin-ovs
	branch = master
[submodule "vswitchperf"]
	path = upstream/vswitchperf
	url = https://gerrit.opnfv.org/gerrit/vswitchperf.git
	branch = master
